
.collections-index-list {
  padding: 
    0 
    $landing-page-padding 
    $landing-page-padding/2 
    $landing-page-padding;
    
  @include flex(space-between); 
    

  > li {
    @include flex(space-between, center, column); 
  }

  .image-container {
    $min_width: 300px; 
    $max_width: 360px; 
    // flex: $min_width; 
    max-width: $max_width;
    border-radius: $border-radius*2;
    gap: 5px; 
    overflow: hidden;
    @include flex(space-between, center, column);
    
    img, video {
      width: 100%;
      height: auto; 
    }
    
    
    .main-image {
      flex: $min_width; 
      max-width: $max_width;
    }
    
    .sub-images {
      @include flex(space-between, flex-end); 
      padding: 0;
      gap: 5px; 
      width: 100%;

      > * {
        height: ($min_width - 39) / 3; 
        flex: ($min_width - 39) / 3; 
        max-width: $max_width / 3;
        min-width: $min_width / 3;
        background-color: $lighter-gray;
      }
    }
  }
    
  footer {
    padding: 10px; 

    h3 {
      padding: 10px 0;
    }
    span {
      padding: 0 5px;
    }
  }

}

.no-collections-container {
  @include flex($flex-direction: column);
  margin-bottom: 60px;

  img {
    width: 60%;
    max-width: 650px;
  }
  
  h2 {
    font-size: 22px;
    font-weight: 600;
  }

  p {
    text-align: center;
  }
}