
// .collection-modal-container {
  // display: none;
// }


// .collection-modal-container.active {
  // display: block; 
// }

.collection-modal-enter-active .modal-form-container, .collection-modal-appear-active .modal-form-container,
.collection-modal-exit-active .modal-form-container {
  transform: scale(0) translate(-75%, -50%);
}
.collection-modal-enter-done .modal-form-container,
.collection-modal-exit .modal-form-container {
  transition: transform ease 300ms;
  transform: scale(1) translate(-50%, -50%);
}


.modal-form-container {
  position: absolute;
  top: 40%; 
  left: 50%;
  // transform: translate(-50%, -50%);
  background-color: white;
  width: 80vw;
  border-radius: 12px;
  padding: 40px 100px;

  form {
    display: flex;
    flex-direction: column;
    font-weight: 600;

    ul {
      padding: 0;
    }

    li.active {
      background-color: $pink; 
      color: white; 
    }

    input {
      @include inputHover(); 
    }

    h1 {
      border-bottom: 1px solid $light-gray; 
    }

    > * {
      margin: 10px 0;
    }
    
    > label {
      display: flex;
      flex-direction: column;
      margin-bottom: 60px;
    }

    .form-buttons > * {
      margin-right: 10px;
    }

    .gray-button {
      @include color-button($lightest-gray); 
      padding: 15px 22px;
    }
  }
}



.modal-background {
  z-index: 10;
  @include fullsize(); 
  background-color: rgba(0,0,0,0.7);
  z-index: 5; 
}