// things like border radius or specific box shadow

$logo-font-size: 24px; 

@mixin pink-button {
  background-color: $bright-pink;
          
  border: none;
  color: white;
  border-radius: 8px; 
  width: 250px; 
  height: 40px;
  
  font-size: 16px;
  cursor: pointer;

  padding: 0;   
}

