$pink: #f1cdd7; 
$faded-pink: #8f6978; 
$dark-pink: #77374f;
$bright-pink: #ea4c89;
$hover-pink: #e882a9; 
$dark-blue: #2B899D; 
$blue: #299DB7; 
$light-blue: #5cbad1; 
$gray: #777777; 
$light-gray: #bbbbbb; 
$lighter-gray: #d4d4d4; 
$lightest-gray: #ececec; 