@use "../core/library"; 

.pink-button {
  @include color-button($bright-pink, white); 
}

.pink-button:hover {
  background-color: $hover-pink;  
}

* {
  font-family: $sans-serif;
}

*::selection {
  background-color: $bright-pink;
  color: white;
}