@use "../core/library"; 

.pink-button {
  @include color-button($bright-pink, white); 
  padding: 10px 14px; 
}

.pink-button:hover {
  background-color: $hover-pink;  
}

* {
  font-family: $sans-serif;
}

*::selection {
  background-color: $bright-pink;
  color: white;
}

.icon {
  color: #000;
  font-size: 24px;
}
