@use "../core/library"; 

.pink-button {
  @include color-button($bright-pink, white); 
  padding: 10px 14px; 
}

.pink-button:hover {
  background-color: $hover-pink;  
}

* {
  font-family: $sans-serif;
}

*::selection {
  background-color: $bright-pink;
  color: white;
}

.icon {
  color: #000;
  font-size: 24px;
}

.form-errors {
  @include form-errors(); 
}


.spinner {
  width: 60px;
  height: 60px;
  margin: 100px auto;
  background-color: $bright-pink;

  border-radius: 100%;  
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}