

.card-details {
  @include flex($flex-direction: column); 
  position: relative;
  top: -80px;
  background-color: white;
  
  .back-banner {
    width: 100vw;
    $banner-height: 50px; 
    $X-height: 26px; 

    @include flex(flex-end); 
    margin-right: ($banner-height - $X-height) / 2 ; 
    font-size: $X-height;

    cursor: pointer; 
    
    background-color: rgba(0,0,0,0.8); 

    span {
      color: $lighter-gray; 
      transition: color 250ms;
      margin-right: 30px;
    }

    span:hover {
      color: white; 
    }
  }

  .image-cropper {
    @include image-cropper(60px); 
    margin-right: 15px;
  }

  .card-details-container {
    @include flex($flex-direction: column); 
    margin-top: 60px;
    max-width: 80vh * 1.3333;

    .form-errors {
      padding: 0;
      font-size: 14px;
      color: red;
      font-style: italic;
      list-style: none;
      align-self: flex-start;
    }
    
    header {
      @include flex(space-between); 
      width: 100%;
      
      section {
        @include flex($flex-direction: row); 
        
      }
      
      .card-header-text {
        @include flex(space-around, flex-start, column); 

        h2 {
          font-weight: 800;  
        }

        span {
          margin: 0 8px;
        }

        .inline-card-header-text {
          > div {
            @include flex(flex-start); 
          }

          .user-link {
            color: black; 
            text-decoration: none;
          }
          .email-wrapper {
            position: relative; 

            .email-popup {
              display: none;
              position: absolute; 
              background-color: black;
              color: white; 
              font-size: 14px;
              padding: 10px 20px; 
              bottom: 35px; 
              text-align: center;
              width: 200px;
              line-height: 1.2;
              left: 50%;
              transform: translateX(-50%);
              border-radius: $border-radius;
            }

            &:hover .email-popup {
              display: block; 

            }
            .arrow-down {
              width: 0;
              height: 0;
              border-top: 10px solid black;
              border-left: 10px solid transparent;
              border-right: 10px solid transparent;
              position: absolute;
              bottom: -10px;
              left: 50%;
              transform: translateX(-50%);
            }
          }
        }

        .follow-button {
          cursor: pointer;
          transition: color 150ms;

          &:hover {
            color: $bright-pink; 
          }
        }
        .email-button {
          cursor: pointer;
          color: $bright-pink; 
        }
      }

      aside {
        button {
          @include color-button($lightest-gray); 
          font-weight: 600;
          padding: 8px 18px; 
          margin-left: 15px;
        }

        span {
          margin-right: 8px;
        }
      }

    }

    .image-container {
      overflow: hidden; border-radius: $border-radius;
      margin-top: 40px;
      margin-bottom: 60px;
      max-height: 600px;
      
      img, video {
        max-width: 80vh * 1.3333;
        width: 100%;
        height: auto; 
      }
    }


    footer {
      @include flex(center, center, column); 
      width: 100%;
      margin: 20px 0; 
      
      .card-alter-buttons {
        margin-bottom: 40px;
        > * {
          @include color-button($lightest-gray, black); 
          border-radius: unset;
          padding: 20px 14px;
          text-decoration: none;
        }
      }


      p {
        align-self: flex-start;
        margin-bottom: 40px;

      }
      
      .avatar-container {
        $image-diameter: 80px; 
        @include flex(center, center); 

        hr {
          position: absolute; 
          width: 86vw;
          z-index: 1;
        }

        a {
          z-index: 2;
          padding: 0 10px; 
          background-color: white; 

          .image-cropper {
            margin: 20px 0; 
            @include image-cropper($image-diameter); 
            z-index: 2;
          }
        }
      }

      h3 {
        margin-bottom: 15px;
      }

      button {
        width: unset;
        height: unset;

        span {
          margin-right: 10px;
        }
      }
    }

  }
  
}






