
.auth-form-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr;
  font-family: Helvetica, sans-serif;

  .aside {
    padding: 30px 0;
  }

  .login-form-aside {
    background-color: $pink;
  }

  .signup-form-aside {
    background-color: #f2d184; 
  }
  
  aside {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $faded-pink;

    & > * {
      width: 66%;
    }

    .logo, .logo:visited {
      @include logo; 
      color: $hover-pink;
      font-weight: 800;
    }
    // .logo:hover {
    //   // color: $faded-pink; 
    // }

    h2 {
      margin: 20px 0;
      font-weight: 700;
      font-size: 28px;
    }

    .signup-form-artwork{
      background-image: $saxophonist; 
      
      // if this doesn't work on heroku try the below
      // background-image: asset-url('clip_saxophonist.png');
    }
    
    .login-form-artwork{
      background-image: $dancer;
    }
    
    .artwork {
      background-size: cover;
      height: 400px; 
      background-position: center; 
      background-repeat: no-repeat; 
      width: 80%;
      min-height: 300px;
      margin: 15px 0; 
    }

    .artist {
      font-size: 12px;
    }

    // these need to be links in the html
    .login-form-artist::before {
      content: 'Art by Icons 8';
    }
    .signup-form-artist::before {
      content: 'Art by Icons 8';
    }
  }

  section {
    display: grid; 
    grid-template-rows: 30px 1fr;

    nav {
      text-align: right;
      margin: 25px; 
    }

    .form-container {
      @include flex(); 
      
      form, form div {
        display: flex; 
        flex-direction: column;
        
        .form-errors {
          @include form-errors; 
        }

        h2 {
          font-size: 28px;
          color: black;
          font-weight: 700;
        }
        
        & > label {
          margin: $form-spacing;
          width: 450px;
          font-weight: 700;
        }

        input {
          margin-top: 10px;
          background-color: #eee;
          border: 1px solid transparent;
          border-radius: 5px;
          height: 40px;
          width: 100%; 
          padding-left: 10px;
          transition: ease all 0.3s; 
          outline: 1px transparent; 
          font-weight: 400;
        }

        input:focus {
          box-shadow: $pink-input-outline;
          border: 2px solid $pink;
          outline: 1px transparent;
          background-color: white;
        }
        
        input:hover {
          box-shadow: $pink-input-outline;
          background-color: white;
          outline: 1px solid #eee;
        }

        input[type="password"] {
          font-weight: 400; 
        }

        button {
          @include color-button($bright-pink, white); 
          margin: $form-spacing; 
          margin-bottom: -10px;
        }
        
        button:hover {
          background-color: $hover-pink;  
        }

        .demo-login-button {
          @include color-button($blue, white); 
        }
        .demo-login-button:hover {
          background-color: $light-blue; 
        }
        
      }
      .name-container {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        label, input {
          display: flex;
          flex-direction: column;
        }
        label {
          width: 100%; 
        }

        label:nth-child(2) {
          margin-left: 10px;
        }
        
      }
    }
  }
  
  nav {
    a, a:visited {
      color: blue;
      text-decoration: none;
    }
    a:active {
      color: black;
    }
  }
}
