@use "../core/library"; 

.account-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  // margin-bottom: 20px;
  font-family: $sans-serif;

  .details-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .image-cropper {
      @include image-cropper(130px); 
    }

    ul {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
    }
    
    p {
      color: $gray;
      font-size: 18px;
    }

    .edit-profile-btn {
      padding: 8px 0;
      margin-top: 8px;
      width: 120px;
      text-align: center;

      border-radius: 8px;
      border: 1px solid $light-gray;
      
      color: black;
      font-weight: 600;
      text-decoration: none;
    }
    .edit-profile-btn:hover {
      border: 1px solid $gray;
    }
    .edit-profile-btn:active {
      background-color: $lighter-gray;
      border: 1px solid $lighter-gray 
    }
  }

}

.account-nav-borderline {
  display: flex;
  justify-content: center;
}

.account-nav {
  display: flex;
  justify-content: flex-start;
  width: $width-percentage;
  margin: 25px 0;
  border-bottom: 1px solid $lighter-gray;
  
  .account-nav-list{
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: row;

    font-size: 18px;
  }

  li {
    margin-right: 30px;

    a {
      font-weight: 600;
      text-decoration: none;
      color: $gray;
    }
    
    a.active {
      color: black;
      span {
        color: $gray;
      }
    }
  }
}


