
.card-index-container {

  nav {
    a {
      text-transform: capitalize;
      text-decoration: none;
      color: $gray;
    }
    a.active {
      color: black;
      font-weight: bold;
      background-color: $lightest-gray;
    }

    ul {
      
    }
  }

}

.card-index {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-index-item {
  background-color: #bdbdff;
  width: 300px;
}

.card-index-footer {
  .image-cropper {
    @include image-cropper(40px); 
  }
}

