
.main-footer {
  padding: $landing-page-padding/2 $landing-page-padding; 
  padding-bottom: 10px;
  font-size: 12px;
  background-color: #ebebeb;
  @include flex(flex-start, flex-start, column); 

  .footer-logo {
    a {
      color: $bright-pink; 
      font-size: 32px;
      font-weight: 900;
      transition: color 250ms;

      &:hover {
        color: darken($bright-pink, 20%); 
      }
    }
  }

  section {
    @include flex(space-between, flex-start); 
    width: 100%;

    p {
      max-width: 250px;
    }
    .personal-links {
      margin-top: 10px;
      
      > * {
        margin-right: 50px;
      }
    }
    ul {
      padding: 0;
    }
  }

  img {
    max-width: 25px;
  }

  > div {
    border-top: 1px solid $lighter-gray;
    @include flex(space-between); 
    margin: 30px 0; 
    padding: 20px 0; 
    width: 100%;
  }
}