$item-height: 10px;
$line-height: 24px; 

.logo {
  display: inline-block; 
  
  a {
    font-family: $logo-font;
    font-weight: 800;
    font-size: $line-height;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $gray;
  }
}

header {
  display: flex; 
  justify-content: space-between;
  margin: 0 15px;

  // & > * {
  //   padding: 18px 12px; 
  // }

  ul {
    margin: 0;
  }
  
}
.user-nav {
  display: flex;
  align-items: center;

  & > * {
    margin: 0 8px;
  }

  .pink-button {
    // padding: 5px 16px;
    // margin: 0 10px;
    text-decoration: none;
    width: inherit;
    height: inherit;
  }

  > li:first-child {
    position: relative; 
    padding: 18px 10px; 
  }

  li:first-child:hover .user-dropdown {
    opacity: 1;
    z-index: 2;
  }
  
  .user-dropdown {
    position: absolute; 
    z-index: -1;
    opacity: 0;
    padding: 15px 0; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: white;
    width: 250px;
    top: 65px;
    right: 0;
    transform: translateX(50%);

    hr {
      width: calc(100% - 50px);

      border: 0; 
      border-bottom: 1px solid $lighter-gray;
    }
    
    & a {
      display: block;
      text-decoration: none;
      color: $gray;
      padding: 10px 25px; 
      transition: color 250ms;
    }

    li:hover, a:hover {
      background-color: $lightest-gray;
      color: #000;
    }
  }

  .image-cropper {
    @include image-cropper(40px); 
  }
}

.standard-header {
  border-bottom: 1px solid $lightest-gray;
  height: 77px;
  margin: 0 20px;

  > ul:first-child {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 20px;
    justify-content: space-between;
  }
}

.header-auth-buttons > *{
  @extend .pink-button; 
  width: inherit;
  height: inherit;
}

.header-auth-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .login-btn {
    @include color-button(white, $gray); 
  }
  
  .signup-btn {
    @extend .pink-button; 
  }
  
  .login-btn, .signup-btn {
    text-decoration: none; 
    padding: 10px; 
    margin-left: 10px; 
  }
  
  .login-btn:hover {
    background-color: #f6f6f6; 
  }

}

.signup-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #faf9fe;
  padding: 0 $landing-page-padding;
  // height: 400px;

  main {
    width: 60%;
    margin-right: 26px;

    h1 {
      font-weight: 700;
      font-size: $h1-size;
      line-height: 1.5;
    }

    a {
      text-decoration: none;
      padding: 15px 18px;
    }
    
    & * {
      margin: 20px 0;
    }

    p {
      margin-bottom: 30px;
    }
  }
  
  aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
    text-align: right;
    margin: 15px 0;

    img {
      height: 100%;
    }

    span {
      color: $faded-pink; 
      font-size: 14px;
    }
  }
}

