@use "../base/library"; 
$item-height: 10px;
$line-height: 24px; 

.logo {
  display: inline-block; 
  
  a {
    font-family: $logo-font;
    font-weight: 800;
    font-size: $line-height;
    text-decoration: none;
    color: black;
  }

  a:hover {
    color: $gray;
  }
}

header {
  display: flex; 
  justify-content: space-between;

  & > * {
    padding: 18px 12px; 
  }

  ul {
    margin: 0;
  }
  
}
.user-nav {
  display: flex;

  & > * {
    margin: 0 8px;
  }

  .pink-button {
    padding: 5px 16px;
    margin: 0 10px;
    text-decoration: none;
    width: inherit;
    height: inherit;
  }

  li:first-child {
    position: relative; 
  }
  
  li:first-child:hover .user-dropdown {
    opacity: 1;
    z-index: 1;
  }
  
  .user-dropdown {
    position: absolute; 
    z-index: -1;
    opacity: 0;
    padding: 15px 0; 
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    background-color: white;
    width: 250px;
    top: 50px;
    right: 0;
    transform: translateX(50%);

    hr {
      width: calc(100% - 50px);

      border: 0; 
      border-bottom: 1px solid $lighter-gray;
    }
    
    & a {
      display: block;
      text-decoration: none;
      color: $gray;
      padding: 10px 25px; 
      transition: color 250ms;
    }

    li:hover, a:hover {
      background-color: $lightest-gray;
      color: #000;
    }
  }

  .image-cropper {
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
  }
}

.standard-header {
  border-bottom: 1px solid $lightest-gray;

  & > ul:first-child {
    display: flex;
    
    & > li {
      margin: 0 14px 0 12px;
    }
  }

  & > ul > li {
    display: flex;
    align-items: center;
  }
}

.header-auth-buttons > *{
  @extend .pink-button; 
  width: inherit;
  height: inherit;
}

.header-auth-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .login-btn {
    @include color-button(white, $gray); 
  }
  
  .signup-btn {
    @extend .pink-button; 
  }
  
  .login-btn, .signup-btn {
    text-decoration: none; 
    padding: 10px; 
    margin-left: 10px; 
  }
  
  .login-btn:hover {
    background-color: #f6f6f6; 
  }

}