.login-form {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-template-rows: 1fr;
  font-family: Helvetica, sans-serif;

  aside {
    background-color: $pink;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $faded-pink;

    & > * {
      width: 66%;
    }

    .logo {
      font-size: 24px;
    }

    h2 {
      margin: 30px 0;
      font-weight: 700;
      font-size: 28px;
    }

    .login-form-artwork{
      // background-image: url();
      background-color: blue;
      width: 80%;
      min-height: 250px;
      margin: 15px 0; 
    }
    .artist {
      font-size: 12px;
      &::before {
        content: 'Art by NAME_TO_CHANGE_LATER';
      }
    }
  }

  section {
    display: grid; 
    grid-template-rows: 30px 1fr;

    nav {
      text-align: right;
      margin: 20px; 
    }

    .form-container {
      display: flex; 
      justify-content: center;
      align-items: center;
      
      form, form div {
        display: flex; 
        flex-direction: column;
        
        h2 {
          font-size: 28px;
          color: black;
          font-weight: 700;
        }
        
        & > label {
          padding: $form-spacing;
          width: 450px;
          font-weight: 700;
        }

        input {
          background-color: #eee;
          border: 1px solid transparent;
          border-radius: 5px;
          height: 40px;
          width: 100%; 
          padding-left: 10px;
          transition: ease all 0.3s; 
          outline: 1px transparent; 
        }

        input:focus {
          box-shadow: $pink-input-outline;
          border: 2px solid var(--pink);
          outline: 1px transparent;
          background-color: white;
        }
        
        input:hover {
          box-shadow: $pink-input-outline;
          background-color: white;
          outline: 1px solid #eee;
        }

        button {
          background-color: $bright-pink;
          
          border: none;
          color: white;
          border-radius: 8px; 
          width: 250px; 
          height: 40px;
          
          font-size: 16px;
          cursor: pointer;

          padding: 0; 
          margin-top: 25px;
        }
        
        button:hover {
          background-color: #e882a9; 
        }
        
      }
    }
  }
  

}